body{
    margin: 0;
    font-family: 'Courier New', Courier, monospace;

}
header img{
    height: 100px;
}
nav a{
    text-decoration: none;
    color: rgb(241, 247, 247);
    font-size: 20px;
    padding: 5px 15px;
    font-family: 'Courier New', Courier, monospace;

}
header{
    text-align: center;
    box-shadow: 0px 0px 0px;
    background-color: rgb(3, 3, 3);    
}
nav{
    padding: 10px;
}
nav a:hover{
    background-color: blue;
    color: lime;
    transition: 1s;
    border-radius: 20px 0px 20px 0px;
    padding: 7px 20px;
    
}