body{
    margin: 0;
}
.container{
    background-color: aqua;
    height: 600px;
    width: 100%;
    background: url(mdherren-snow-6019404_1920.jpg) no-repeat center center/cover;
}
.container div{
    position: absolute;
    height: 25px;
    width: 25px;
    background-color: rgb(255, 255, 255);
    border-radius: 35%;
}
.container div:nth-child(1){
    left: 5%;
    animation: animasi 5s infinite linear;
}
.container div:nth-child(2){
    left: 10%;
    animation: animasi 1s infinite linear;
}
.container div:nth-child(3){
    left: 15%;
    animation: animasi 3s infinite linear;
}
.container div:nth-child(4){
    left: 20%;
    animation: animasi 2s infinite linear;
}
.container div:nth-child(5){
    left: 25%;
    animation: animasi 4s infinite linear;
}
.container div:nth-child(6){
    left: 100%;
    animation: animasi 6s infinite linear;
}
.container div:nth-child(7){
    left: 35%;
    animation: animasi 7s infinite linear;
}
.container div:nth-child(8){
    left: 55%;
    animation: animasi 3s infinite linear;
}
.container div:nth-child(9){
    left: 75%;
    animation: animasi 4s infinite linear;
}
.container div:nth-child(10){
    left: 85%;
    animation: animasi 5s infinite linear;
}

@keyframes animasi{
    0%{
        transform:translateY(0px) scale(50%) rotate(0);opacity:1;
    }
    100%{
        transform:translateY(500px) scale(100%) rotate(360deg);

    }
}